

/* .classy-navbar{
   z-index: 1000;
  overflow: hidden;
    position: fixed;

    width: 100%;
} */

#sonFace{
    border-radius: 30%;
}

.contact{
    padding: 4%;
    height: 400px;
}
#contactColume{
    background: #ffaf02 !important;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: auto;  
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}

#contactColume p{
    color:black;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

@media (max-width: 950px) {
    #contactUS { font-size: 1rem; margin-bottom: 3px;}
    #contactColume {max-height: 100px;}
    #weLikeHear{visibility: hidden;}
 
}


@media (max-width: 950px) {
    .input-group-text { font-size: 5px; }

}

